
/*

shado #2f373a
 background-color: #232b2e;
clolr  #009688
hover #29b0aa

// #505860
*/
body{
   background-color: #232b2e;
    color: #fff;
      overflow: hidden;
   
}
.navbar{
    font-weight: bold;
    background-color: #232b2e;
    color: white;
    font-family: tahoma;
    margin: 0px;
}
.navbar-inverse{
  
   
border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    color: #24afae;
}
.navbar-inverse .navbar-brand span{
    color: #fff;
}
.navbar-inverse .navbar-brand:hover {
    --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
    color: #32C8A3;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
    color: #fff;
    background-color: #24afae;
}
.navbar-inverse .navbar-nav>li>a {
     --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
    
}
.navbar-inverse .navbar-nav>li>a:hover {
    --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
    color: #fff;
      background-color: #24afae;
}




.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #af2c2c;
    margin-right: 0px;
}

 .navbar-inverse .navbar-form .form-group .form-control {
    border-color: #99b2d8;
   
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

}
.carousel-inner .item .carousel-caption .captions {
    width: 100%;
    
    background-color: rgba(99, 105, 132, 0.5);
    border-radius: 10px;
    margin-bottom: 114px;
    margin-bottom: 114px;
        padding-bottom: 26px;
    padding-top: 20px;
}

.carousel-inner .item .carousel-caption .captions> h3 {
       color: #24afae;
    font-family: tahoma;
    font-weight: bold;
    font-size: 50px;
}
.carousel-inner .item .carousel-caption .captions> h4 {
    color: #ffffff;
    font-size: 25px;
    font-family: tahoma;


}
.carousel-inner .item .carousel-caption .captions .btn {
       color: #ffffff;
    font-size: 20px;
    font-family: tahoma;
    background: none;
    border: 2px solid #24afae;
    border-radius: 30px;
    width: 26%;
    margin-top: 10px;
      --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;

}
.carousel-inner .item .carousel-caption .captions .btn:hover {
       color: #ffffff;
    background: #24afae;
          --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;

}
.container-fluid ul .label_skitter p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    margin-bottom: 100px;
}


/* our sevices*/
.our{
  width: 100%;

background-image:url(../img/banner3.jpg);
background-size: cover;
}
.our .cover {
    padding-bottom: 85px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: rgba(99, 105, 132, 0.5);

}
.our .cover .container{
   background-color: rgba(36, 175, 174, 0.5);
       padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 18px;
    color: white;
}
.our .cover .container .row .col-md-4 .lead{
    font-size: 16px;
}
.our .cover .container .row .col-md-4 .s{
  font-size: 16px;
    border:2px solid white;
    border-radius:19px;
     margin-bottom:10px;
}

.our .cover .container .row .col-md-4 div .t{
    font-size: 16px;
}





/* contact*/
.con{
 
    color: white;
    width: 60%;
    margin: auto;
}

    .con  textarea{
   height: 75px;
   margin-bottom: 20px;
   resize: none;
  }
  .con input[type="text"],.con textarea{
    background:rgba(67, 68, 76, 0.5);
    color: #fff;
    border:none;
}
  .con input[type="submit"]{
    background:#24afae;
        --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
  .con input[type="submit"]:hover{
    background:#32373d;
        --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}

.con form .input-group .astrisx{
    float: right;
   color: white;
    height: 0px;
   font-size: 23px;
   position: relative;
   top: -28px;
   right: 10px; 
}

/*  spennir*/

.ccover{
  background-color: #222;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4444;
}


.ccover h1 {

     width: 151px;
    height: 107px;
    background-color: #1b6962;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
   margin-top: 250px;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.footer{
        font-size: 15px;
    padding: 20px;
}
.footer span{
    color: #24afae
}

.navbar-inverse .navbar-nav>.active>a{
    background: 3458
}



/*..........................login page ...............................*/
.login{

  height: 500px;
  background: url("../img/xxx.jpg");
  background-size: cover;
  padding-top: 40px;

}
.login .alert{
       color: #ffffff;
    padding: 20px;
    width: 37%;
    margin: 0 auto;
    background-color: rgba(169, 9, 9, 0.5);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 33px;
    border: 0px;
    font-weight: bold;
}
.login .alert i{
      margin-right: 16px;
    /* padding-right: 12px; */
    color: #fff;
    font-size: 20px;
}
.login .log {
    padding: 20px;
    width: 37%;
    margin: 0 auto;
    background-color: rgba(102, 117, 117, 0.5);
    border-radius: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-top: -22px;
    margin-bottom: -16px;
}
.login .log .media{
    border-bottom: 2px solid #fff;
    margin-bottom: 32px;
}

.login .log .media .media-body h4{
 font-size: 38px;
}
.login .log .media .media-body p{
font-size: 17px;
}

.login .log .formlog input[type="text"],.login .log .formlog select[name="from"] {
    background: rgba(67, 68, 76, 0.5);
    color: #fff;
    border: none;
}
.login .log .formlog span {
   
    color:#24afae;
    margin-bottom: 20px;
   
}
.login .log .formlog input[type="submit"]{
        background-color: rgba(36, 175, 174, 0.5);
    font-size: 22px;
        font-weight: bold;
        padding: 20px 12px;
        margin: 0 auto;
       border-radius: 50%;
           border: 2px solid;
        --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}

.login .log .formlog input[type="submit"]:hover{
    background:rgba(67, 68, 76, 0.5);
        --webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
@media (min-width: 768px){
.navbar-form .form-control {
    display: inline-block;
  width: 350px;;
    vertical-align: middle;
}
}

@media (min-width: 768px) and (max-width: 991px){
 .navbar-inverse .navbar-form .form-group .form-control {

  width: 212px;;

}
}

@media (max-width: 768px){
.con{
    width: 100%;
    margin: auto;
}

.login .log{
width: 100%;
margin: 0 auto;
}

.login .alert{
     
width: 100%;     
}

}








